.SidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.SidebarRow:hover {
    border-radius: 10px;
    background-color: lightgray;
}
.SidebarRow> h4{
    margin-left: 20px;
    font-size: 600;
}

.SidebarRow > .MuiSvgIcon-root{
    font-size: xx-large;
    color: #2e81f4;
}